#submit {
     background-color: red;
}
#reset {
     background-color: green;
}
form {
    border:2px solid black;

}

label {
        width: 243px;
        padding: 12px 20px;
        margin: 20px 0 0 33px;
        display: inline-block;
        border: 7px solid #ccc;
        border-radius: -10px;
        box-sizing: border-box;
}

input {
  margin: 5px 0 0 33px;
  display: block;
  border: 1px solid #999;
  height: 25px;

}

